# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
cpp00/ex00/megaphone
cpp00/ex01/phonebook
cpp01/ex00/BraiiiiiiinnnzzzZ
cpp01/ex01/Moar_brainz!
cpp01/ex02/HI_THIS_IS_BRAIN
cpp01/ex03/Unnecessary_violence
cpp01/ex04/Sed_is_for_losers
cpp01/ex05/Harl_2.0
cpp04/ex01/I_don_t_want_to_set_the_world_on_fire
